:root {
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --title-primery-fon: #F5F5F5;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #212121;
}

.list_none {
    list-style: none;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
}

.header-logosudio {
    color: #000000;
}

.foooter-logostudio {
    color: #FFFFFF;
}

/* header */

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-contacts .contacts:hover,
.site-contacts .contacts:focus {
    color: var(--accent-color);
}

.site-contacts .contacts,
.site-contacts .contacts {
    color: var(--title-text-color);
}

/* main */

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #FFFFFF;
}

button {
    cursor: pointer;
    color: #212121;
    background-color: #F5F4FA;
    width: 216px;
    height: 50px;
    top: 430px;
    left: 692px;
    border-radius: 4px;
}

.button:hover,
.button:focus,
.button:active {
    color: #FFFFFF;
    background-color: #2196F3;
    width: 216px;
    height: 50px;
    top: 430px;
    left: 692px;
    border-radius: 4px;
}

section {
    background-color: var(--title-primery-fon);
}

/* footer */

footer {
    background-color: #2F303A;
}
.adress {
    color: #FFFFFF;
}